*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --trans : -2000px;
}
html{
    min-height: 100%;
    font-size: 22px;
    color: white;
   position: relative;
    background-color : rgba(44,48,52,255);
}
body{
    min-height: 100vh;
    display: flex;
   
    /* overflow: hidden; */
}
.sect1{
 min-width: 240px;
 display: block;
 padding-top: 1rem;
 border-right: 1.5px solid gray;
 color: rgb(123,122,122);
 
}
.aside-first{
    /* width: 80%; */
    /* margin: auto; */
    height: 500px;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    margin: auto;
   
}
.list-cnt1{
    display: flex;
    gap: 1rem;
    padding: 0.2rem;
    padding-left:0.5rem;
    
    border: 1px solid transparent;
    border-left: 3px solid transparent;
}
.list-cnt1:hover{
    background-color: rgba(52,56,60,255);
    border: 1px solid rgba(52,56,60,255);
    border-left:3px solid rgba(242,101,114,255);
    color:white;
}
aside .logo{
    display: flex;
    gap: 10px;
    padding-left:0.5rem;
    align-items: center;
}
.logo-text{
    font-size: 26px;
}
.main{
    flex-grow: 2;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
}
.main-sect1-fix{
    padding-bottom: 1rem;
    border-bottom: 1.5px solid gray;
}
.main-section1{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    margin: auto;
}
.section1-search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1-srch{
    display: flex;
    align-items: baseline;
    flex-grow:2 ;
}
.input-box{
 flex-grow: 2;
margin-left: 1rem;
max-width: 65%;
}
.input-box input{
    width: 100%;
    padding: 0.25rem;
    outline: none;
    border: none;
    background-color: rgba(127,127,127,255);
    border-radius: 11px;
}
.search-user{
    display: flex;
    flex-basis: 300px;
    justify-content: space-evenly;
}
.search-user .user-det{
  display: flex;
  justify-content: space-between;
}
.section1-user-detail{
    display: flex;
    justify-content: space-between;
    align-items: bottom;

}
.user-big-det{
   display: flex;
}
.threebuttons{
   align-self: flex-end;
   display: flex;
   justify-content: space-evenly;
   flex-basis: 250px;
}
.threebuttons button{
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    background-color: rgba(44,48,52,255);
    border: none;
    color: rgb(123,122,122);
    border-radius: 40px;
    border: 1px solid white;
    cursor: pointer;
}
.main-section2{
    display: flex;
    padding: 0.7rem;
    
    color: rgb(123,122,122);
    flex-grow: 2;
  
    background-color: rgba(35,36,43,255);

}
.section2-part1{
    flex-grow: 2;
    align-self: baseline;
    
   
   
}
.section2-part2{
 font-size: 16px;
 font-weight: 400;
  
  min-width: 290px;
  align-self: baseline;
  
}
.section2-part2-fix{
    width: 85%;
    margin: auto;
    display: flex;
    height: 100%;
    flex-direction: column;
 justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    gap: 1.5rem;
  
}
.section2-part2 .announcment .ann-box{
   background-color: rgba(44,48,52,255);
   line-height: 0.8rem;
   border-radius: 12px;
   padding: 0.5rem;
   padding-bottom: 0.7rem;
}
.ann-box .ann-box-cnt{
    width: 85%;
    margin: auto;
   
}
.ann-box-cnt .ann-box-txt{
    border-bottom: 0.7px solid gray;
    padding-bottom: 0.5rem;
}
.People .people-box{
    display: flex;
    background-color:rgba(44,48,52,255);
    border-radius: 12px;
    flex-direction: column;
    gap: 0.5rem;
}
.people-box-cnt{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.3rem;
}
.People-fix{
    width: 80%;
    margin: auto;
}
.project-box-cnt-fix{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.2rem;
    align-content: space-between;
    width: 90%;
    margin: auto;
    
}
.box-project{
    max-width: 290px;
    line-height: 0.8rem;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(44,48,52,255);
    border-radius: 12px;
    border-left: 10px solid rgb(91,67,147);
}
.box-project-fix{
    width: 85%;
    margin: auto;
    padding: 6px;
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
}
.box-icons{
    text-align: end;
}
#pr{
    text-align: center;
    margin-bottom: 0.2rem;
    color: white;
}
.ann-text span{
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0.4rem;
}
.col{
    color: white;
}
#burger{
    display: none;
}
#close{
    display: none;
    font-size: 30px;
    margin: 0.2rem 0.4rem 0.2rem 0.4rem;
    padding: 0px 5px 0 5px;
    border-radius: 5px;
    background-color: rgba(240, 68, 49, 0.939);
    height: fit-content;
    position: relative;
    color: white;
  }
@media only screen and (max-width : 938px) {
  .sect1{
   display: none;
   position: fixed;
   height: 100%;
   translate: var(--trans);
   box-shadow: 0px 5px 12px lightblue;
   z-index: 20;
   background-color : rgba(44,48,52,255);
  
  }
 #burger{
    display: block;
    font-size: 30px;
    margin: 0.2rem 0.6rem 0.2rem 0.6rem;
    padding: 0px 5px 0 5px;
    border-radius: 5px;
    background-color: rgba(67, 67, 224, 0.928);
    height: fit-content;
    position: relative;
    left: -35px;
    color: white;
  }
 #close{
    display: block;
 }
}
@media only screen and (max-width : 538px) {
    .section1-user-detail{
        justify-content: center;
        flex-wrap: wrap;
    }
    .section1-search-box{
        justify-content: center;
        flex-wrap: wrap;
    }
    .main-section2{
        flex-wrap: wrap;
    }
    .section2-part2{
        max-width: 100%;
    }
    .user-big-det-txt{
       text-align: center;
       padding-bottom: 0.5rem;
    }


.box-project{
    max-width: 100%;
}
